---
import Layout from "../layouts/Layout.astro";

import DownloadButton from "../components/DownloadButton.astro";
import Go from "../components/icons/Go.astro";
import Logo from "../components/icons/Logo.astro";

import { LINUX_VERSIONS, MAC_VERSIONS } from "../data";
---

<Layout
  title="Gedis: A fast, Redis inspired, in-memory database written in Go."
  description="Gedis is a fast, Redis inspired, in-memory database written in Go."
>
  <section>
    <Logo />
    <h1 class="font-bold text-8xl leading-relaxed">Gedis</h1>
    <p class="text-2xl flex gap-2 items-center">
      A fast, Redis inspired, in-memory database written in <Go />
    </p>
    <div class="flex mt-4 gap-2">
      {
        MAC_VERSIONS.map(({ url, arch }) => (
          <DownloadButton href={url} icon="fa:apple">
            Download for Mac {arch}
          </DownloadButton>
        ))
      }
    </div>
    <div class="flex mt-2 gap-2">
      {
        LINUX_VERSIONS.map(({ url, arch }) => (
          <DownloadButton href={url} icon="fa:linux">
            Download for Linux {arch}
          </DownloadButton>
        ))
      }
    </div>
  </section>
</Layout>
