---
import Layout from "../layouts/Layout.astro";

import Logo from "../components/icons/Logo.astro";
import Go from "../components/icons/Go.astro";
import DownloadButton from "../components/DownloadButton.astro";
import Documentation from "../components/Documentation.astro";

import { MAC_VERSIONS, LINUX_VERSIONS } from "../data";
import ApplicationData from "../components/ApplicationData.astro";
---

<Layout
  title="Gedis: A fast, Redis inspired, in-memory database written in Go."
  description="Gedis is a fast, Redis inspired, in-memory database written in Go."
>
  <section>
    <Logo />
    <h1 class="font-bold text-8xl leading-relaxed">Gedis</h1>
    <p class="text-2xl flex gap-2 items-center">
      A fast, Redis inspired, in-memory database written in <Go />
    </p>
    <div class="flex mt-10 gap-10">
      {
        MAC_VERSIONS.map(({ url, arch }) => (
          <DownloadButton href={url} icon="fa:apple">
            Download for Mac {arch}
          </DownloadButton>
        ))
      }
    </div>
    <div class="flex mt-10 gap-10">
      {
        LINUX_VERSIONS.map(({ url, arch }) => (
          <DownloadButton href={url} icon="fa:linux">
            Download for Linux {arch}
          </DownloadButton>
        ))
      }
    </div>
    <p class="text-2xl mt-10">
      Windows build? Idc. Use WSL or something ¯\_(ツ)_/¯
    </p>
  </section>
  <section class="pt-28">
    <h2 class="font-bold text-6xl leading-relaxed">
      Ok cool, but how to use this?
    </h2>
    <Documentation />
  </section>
  <section>
    <h3 class="font-bold text-5xl my-8 leading-relaxed">
      But what about accessing data from apps?
    </h3>
    <ApplicationData />
  </section>
</Layout>
