@import "tailwindcss";

@config "../../tailwind.config.ts";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

section {
  @apply flex flex-col items-center;
}

html,
body {
  color-scheme: dark;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
