---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  href: string;
}

const { icon, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  download
  class="flex items-center gap-2 bg-black shadow-md py-2 p-4 rounded-lg duration-200 hover:bg-[#1e1e1e]"
>
  <Icon name={icon} height={15} width={15} />
  <p class="font-bold">
    <slot />
  </p>
</a>
