---
import { Icon } from "astro-icon";

interface Props {
  icon: string;
  href: string;
}

const { icon, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  download
  class="flex items-center gap-2 bg-black p-4 rounded-md border-gray-700 border-2"
>
  <Icon name={icon} height={30} width={30} />
  <p class="font-bold">
    <slot />
  </p>
</a>
