---
import { Icon } from "astro-icon";

interface Props {
  icon: string;
  color: string;
}

const { icon, color } = Astro.props;
---

<div class="flex mt-10 items-center gap-1">
  <Icon name={icon} color={color} height={35} width={35} />
  <span class="text-xl font-bold">
    <slot />
  </span>
</div>
