---
import Spacer from "./Spacer.astro";
---

<code class="bg-semi-dark-gray rounded-md p-5 w-2/3">
  2023/06/07 13:41:41 Starting Gedis server <br />
  2023/06/07 13:41:41 Gedis server listening on port 5000 <br />
  Enter .exit to stop the server. <br />
  {"gedis>"}
  <span class="text-red-500 font-bold">GET</span> hello <br />
  <span class="text-blue-500">{"<nil>"}</span>
  <br />
  <Spacer />
  {"gedis>"}
  <span class="text-red-500 font-bold">SET</span> hello world <br />
  {"gedis>"}
  <span class="text-red-500 font-bold">GET</span> hello <br />
  <span class="text-green-500">world</span>
  <br />
  <Spacer />
  {"gedis>"}
  <span class="text-red-500 font-bold">DELETE</span> hello <br />
  {"gedis>"}
  <span class="text-red-500 font-bold">GET</span> hello <br />
  <span class="text-blue-500">{"<nil>"}</span>
  <br />
  <Spacer />
  {"gedis>"}
  <span class="text-purple-500 font-bold">create_backup</span>
  <br />
  Backup created successfully <br />
  <Spacer spaces={2} />
  {"gedis>"}
  <span class="text-purple-500 font-bold">create_backup</span>
  <span class="text-neutral-500">--csv</span>
  <br />
  Backup created successfully <br />
  {"gedis>"} ^Z <br />
  [1] + 24587 suspended ./gedis <br />
  <Spacer spaces={1} />
  <span class="text-yellow-300">$</span>
  <span class="text-blue-400">ls</span>
  <br />
  <span class="font-bold text-blue-500">.cache</span>
  <br />
  <span class="font-bold text-blue-500">backups</span>
  <br />
  <span class="font-bold text-cyan-400">gedis</span>
  <br />
  <br />
  <span class="text-yellow-300">$</span>
  <span class="text-blue-400">ls</span> backups <br />
  backup-070623-14:46:35.json <br />
  backup-070623-14:46:41.csv <br />
  <br />
  <span class="text-yellow-300">$</span>
  <span class="text-blue-400">fg</span>
  <br />
  [1] + 24587 continued ./gedis <br />
  <Spacer spaces={1} />
  {"gedis>"}
  <span class="text-red-500 font-bold">SET</span> hello world <br />
  <Spacer spaces={1} />
  {"gedis>"}
  <span class="text-red-500 font-bold">load_backup</span> backup-070623-14:46:35.json
  <br />
  Backup loaded into memory <br />
  {"gedis>"}
  <span class="text-red-500 font-bold">GET</span> hello <br />
  <span class="text-blue-500">{"<nil>"}</span>
</code>
